%button-disabled {
  cursor: default;

  &:focus,
  &:hover {
    background-color: var(--color-background-lightmode-contrast);
    color: var(--color-text-lightmode-contrast);

    @media (prefers-color-scheme: dark) {
      background-color: var(--color-background-darkmode-contrast);
      color: var(--color-text-darkmode-contrast);
    }
  }
}
