%text {
  font-family: var(--font-display);
  font-size: var(--text-base);
  font-weight: var(--text-normal);
  line-height: 1.4;

  p {
    margin-bottom: var(--spacing-base);

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
