@use "../placeholders/line";

.navigation--footer {
  .navigation {
    &__list {
      align-items: center;
      display: flex;
      flex-direction: column;
      gap: var(--spacing-base);
      list-style: none;
      position: relative;

      @media (min-width: 768px) {
        align-items: baseline;
        flex-direction: row;
      }

      &:before {
        @extend %line;
        background-color: var(--color-stone-400);
        content: none;
        left: 0;
        margin: calc(calc(var(--spacing-medium) - 2px) * -1) auto 0;
        position: absolute;
        right: 0;

        @media (min-width: 768px) {
          content: "";
        }
      }
    }

    &__link {
      background-color: var(--color-background-lightmode);

      @media (prefers-color-scheme: dark) {
        background-color: var(--color-background-darkmode);
      }

      .navigation__badge {
        background-color: var(--color-stone-300);
        border-radius: var(--radius-tiny);
        color: var(--color-stone-700);
        padding: 0 3px;
      }
    }
  }
}
