@use "../mixins/icon";
@use "../placeholders/container";

.navigation--main {
  @extend %container;
  margin-bottom: var(--spacing-large);

  .navigation {
    &__label,
    &__input {
      display: block;
      text-align: center;

      @media (min-width: 768px) {
        display: none;
      }
    }

    &__label {
    }

    &__icon {
      cursor: pointer;
      font-size: 1.5em;

      &--menu {
        @include icon.icon("menu");
      }

      &:focus,
      &:hover {
        color: var(--color-link);
      }
    }

    &__input {
      appearance: none;

      &:checked + .navigation__list {
        display: block;
      }
    }

    &__list {
      border-bottom: 1px dashed var(--color-text-lightmode);
      border-top: 1px dashed var(--color-text-lightmode);
      display: none;
      list-style: none;
      margin: var(--spacing-base) 0 0;
      text-align: center;

      @media (prefers-color-scheme: dark) {
        border-bottom-color: var(--color-text-darkmode-muted);
        border-top-color: var(--color-text-darkmode-muted);
      }

      @media (min-width: 768px) {
        display: flex;
        justify-content: space-evenly;
        margin: 0;
      }

      &-item {
        border-bottom: 1px dashed var(--color-text-lightmode);
        border-top: 1px dashed var(--color-text-lightmode);
        margin: -1px 0;

        @media (prefers-color-scheme: dark) {
          border-color: var(--color-text-darkmode-muted);
        }

        @media (min-width: 768px) {
          border-bottom-color: transparent;
          border-top-color: transparent;
        }

        &:focus,
        &:hover {
          border-bottom: 1px solid var(--color-link);
          border-top: 1px solid var(--color-link);
          color: var(--color-link);
        }

        &--active {
          border-bottom: 1px solid var(--color-text-lightmode);
          border-top: 1px solid var(--color-text-lightmode);

          @media (prefers-color-scheme: dark) {
            border-bottom: 1px solid var(--color-text-darkmode-muted);
            border-top: 1px solid var(--color-text-darkmode-muted);
          }
        }
      }
    }

    &__link {
      display: block;
      padding: var(--spacing-base) var(--spacing-large);
      text-decoration: none;
      text-transform: uppercase;

      &--active {
        font-weight: var(--text-bold);
      }
    }
  }
}
