.password-prompt {
  margin: var(--spacing-base) auto;

  @media (min-width: 768px) {
    width: 50vw;
  }

  &__error {
    color: var(--color-salmon-base);
    margin-bottom: var(--spacing-base);
  }

  &__form {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-small);
    margin-top: var(--spacing-base);
  }

  &__input {
    background-color: var(--color-background-lightmode);
    border: 1px solid var(--color-text-lightmode);
    color: var(--color-text-lightmode);
    flex: 1 1 auto;
    padding: 10px 20px;

    @media (prefers-color-scheme: dark) {
      background-color: var(--color-background-darkmode);
      border-color: var(--color-text-darkmode-muted);
      color: var(--color-text-darkmode);
    }
  }
}
