@use "../mixins/icon";
// @use "../other/icons";
@use "../placeholders/block";

.quote {
  @extend %block;
  text-align: center;

  &__text {
    font-size: 2em;

    &:after {
      @include icon.icon("chevron-right-double");
    }

    &:before {
      @include icon.icon("chevron-left-double");
    }

    // &:before,
    // &:after {
    //   @extend .icon;
    //   color: var(--color-text-darkmode-muted);
    //   display: inline-block;

    //   @media (prefers-color-scheme: dark) {
    //     color: var(--color-text-lightmode-muted);
    //   }
    // }

    // &:before {
    //   content: "\e90c"; // chevron-right-double
    // }

    // &:after {
    //   content: "\e90a"; // chevron-left-double
    // }
  }

  // &__icon {
  //   color: var(--color-text-darkmode-muted);

  //   @media (prefers-color-scheme: dark) {
  //     color: var(--color-text-lightmode-muted);
  //   }

  //   &--chevron-right-double {
  //     @include icon.icon("chevron-right-double");
  //   }

  //   &--chevron-left-double {
  //     @include icon.icon("chevron-left-double");
  //   }
  // }

  &__footer {
    margin-top: var(--spacing-base);

    &:before {
      color: var(--color-text-darkmode-muted);
      content: "–";

      @media (prefers-color-scheme: dark) {
        color: var(--color-text-lightmode-muted);
      }
    }
  }
}
