@use "../mixins/icon";
@use "../placeholders/block";

.quote {
  @extend %block;
  // text-align: center;

  &__text {
    font-size: 2em;

    &:after {
      @include icon.icon("chevron-right-double");
    }

    &:before {
      @include icon.icon("chevron-left-double");
    }
  }

  &__footer {
    margin-top: var(--spacing-base);

    &:before {
      // color: var(--color-text-lightmode-muted);
      content: "–";

      // @media (prefers-color-scheme: dark) {
      //   color: var(--color-text-darkmode-muted);
      // }
    }
  }
}
