@use "../../mixins/icon";
@use "../../placeholders/button";
@use "../../placeholders/button-disabled";

.tags {
  display: flex;
  gap: var(--spacing-base);
  justify-content: center;
  margin-bottom: var(--spacing-large);
  position: relative;

  &__link {
    @extend %button;
    align-items: center;
    display: flex;
    padding: 0 3px;

    &--disabled {
      @extend %button-disabled;
    }
  }

  &__icon--hashtag {
    @include icon.icon("hashtag");
  }
}
