// // @use "../placeholders/link";

a {
  color: currentColor;
  text-decoration: none;

  &:focus,
  &:hover {
    color: var(--color-link);
  }
}

// // .block__list,
// // .block__text {
// //   @extend %link;
// // }
