@use "../placeholders/container";

.section {
  @extend %container;
  margin-bottom: var(--spacing-large);

  @media (min-width: 1280px) {
    max-width: 55vw;
    margin: var(--spacing-large) auto;
  }
}
