:root {
  --spacing-base: 1rem;

  --spacing-small: calc(var(--spacing-base) / 1.5);
  --spacing-medium: 50px; /* calc(var(--spacing-base) * 2) */
  --spacing-large: 75px; /* calc(var(--spacing-base) * 3) */
  --spacing-larger: 100px; /* calc(var(--spacing-base) * 4) */
}
